<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title>대시보드</title>
<!-- Chart.js CDN (v4 기준) -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<meta name="description" content="">

<!-- Favicon -->
<link rel="icon" type="image/x-icon"
	href="/img/img_sneat/favicon/favicon.ico">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
	rel="stylesheet">


<!-- Icons. Uncomment required icon fonts -->
<link rel="stylesheet" href="/vendor/vendor_sneat/fonts/boxicons.css">

<!-- Core CSS -->
<link rel="stylesheet" href="/vendor/vendor_sneat/css/core.css"
	class="template-customizer-core-css">
<link rel="stylesheet" href="/vendor/vendor_sneat/css/theme-default.css"
	class="template-customizer-theme-css">
<link rel="stylesheet" href="/css/css_sneat/demo.css">

<!-- Vendors CSS -->
<link rel="stylesheet"
	href="/vendor/vendor_sneat/libs/perfect-scrollbar/perfect-scrollbar.css">

<!-- Page CSS -->
<!-- Helpers -->
<script src="/vendor/vendor_sneat/js/helpers.js"></script>

<style type="text/css">
.layout-menu-fixed .layout-navbar-full .layout-menu, .layout-page {
	padding-top: 0px !important;
}

.content-wrapper {
	padding-bottom: 0px !important;
}
</style>
<style>
#p_idTop10-chart {
	width: 600px;
	height: 400px;
	max-width: 100%;
	margin: 0 auto;
}
</style>

<style>
.chart-container {
	position: relative; /* canvas 가 절대 위치를 참조하도록 */
	min-height: 260px; /* (원하던 기본 높이) */
	height: 100%; /* flex-fill 이 준 높이를 그대로 채우도록 */
}

.chart-container canvas {
	position: absolute; /* 부모에 딱 맞춰 그리기 위해 */
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
</style>

<style>
/* 공격 IP TOP 10 카드 안의 테이블 헤더를 가로쓰기 모드로 고정 */
#srcIp_top10-table table thead th {
	writing-mode: horizontal-tb !important;
	transform: none !important;
	text-orientation: mixed !important; /* 글자 세로 회전 해제 */
	white-space: nowrap !important; /* 한글자씩 줄바꿈 방지 */
}
</style>

<!--! Template customizer & Theme config files MUST be included 
	after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, 
	Set your preferred theme option in this file.  -->
<script src="/js/js_sneat/config.js"></script>

<!-- 내 css 스타일 -->
<link rel="stylesheet" href="/css/custom.css">

<!-- 페이지네이션 CSS 적용 -->
<link rel="stylesheet" href="css/page.css">

</head>
<body>
	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">

			<!-- Menu -->
			<aside id="layout-menu"
				class="layout-menu menu-vertical menu bg-menu-theme"
				data-bg-class="bg-menu-theme">
				<div class="app-brand demo">
					<a href="index.html" class="app-brand-link"> <span
						class="app-brand-logo demo"> <img src="/img/dbee.png"
							alt="DBee Logo" style="max-height: 40px;">
					</span> <!-- <span class="app-brand-text demo menu-text fw-bolder ms-2">DBee Manager</span> -->
						<span class="app-brand-text my-brand-text ms-2">DBee
							Manager</span>
					</a> <a href="javascript:void(0);"
						class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
						<i class="bx bx-chevron-left bx-sm align-middle"></i>
					</a>
				</div>

				<div class="menu-inner-shadow" style="display: block;"></div>
				<ul class="menu-inner py-1 ps ps--active-y">


					<!-- HOME -->
					<li class="menu-item"><a href="index.html" class="menu-link">
							<i class="menu-icon tf-icons bx bx-home-circle"></i>
							<div data-i18n="Analytics">HOME</div>
					</a></li>

					<li class="menu-header small text-uppercase"><span
						class="menu-header-text">menu</span></li>

					<li class="menu-item"><a href="/dashboard" class="menu-link">
							<i class="menu-icon tf-icons bx bx-bar-chart"></i>
							<div data-i18n="Dashboard">Dashboard</div>
					</a></li>

					<li class="menu-item">
						<!-- 정책관리 메뉴 -->
						<div class="d-flex align-items-center justify-content-between">
							<!-- 메뉴 텍스트 (이동) -->
							<a href="/readpolicy2" class="menu-link text-decoration-none"
								id="policy-menu-text"> <i
								class="menu-icon tf-icons bx bx-shield"></i> <span>정책 관리</span>
							</a>

							<!-- ▼ 토글 버튼 -->
							<button class="btn btn-sm p-0 border-0 bg-transparent"
								id="policy-toggle-button">
								<i class="bx bx-chevron-down"></i>
							</button>
						</div> <!-- 하위 메뉴 -->
						<ul class="menu-sub" id="policy-submenu" style="display: none;">
							<li class="menu-item"><a href="/readpolicy2"
								class="menu-link">정책 조회</a></li>
							<li class="menu-item"><a href="/registerpolicy"
								class="menu-link">정책 등록</a></li>
							<li class="menu-item"><a href="/writepolicy"
								class="menu-link">정책 수정</a></li>
						</ul>
					</li>

				</ul>
				<div class="ps__rail-x" style="left: 0px; bottom: -14px;">
					<div class="ps__thumb-x" tabindex="0"
						style="left: 0px; width: 0px;"></div>
				</div>
				<div class="ps__rail-y"
					style="top: 14px; height: 877px; right: 4px;">
					<div class="ps__thumb-y" tabindex="0"
						style="top: 14px; height: 863px;"></div>
				</div>
			</aside>
			<!-- / Menu -->
			<div class="layout-page">
</body>
</html>